# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. R
2. PYTHON
3. JAVA
4. SCALA
5. VS

**Objectives:**

- List popular languages for Data Science.
- Summarize commonly used libraries in Data Science.
- Introduce key Data Science tools.

# Data Science Libraries
Some of the commonly used libraries used by Data Scientists include:
1.  Pandas
2.  NumPy
3.  Matplotlib

# Data Science Tools

| Data Science Tools |
| ------------------ |
| Jupyter Notebook   |
| RStudio            |
| Spyder             |

### Below are a few examples of evaluating arithmetic expressions in Python

# This a simple arithmetic expression to mutiply then add integers

In [2]:
(3*4)+5

17

In [4]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

Below are a few examples of evaluating arithmetic expressions in Python

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by diving by 60.
hours = 200 / 60
print(hours)

3.3333333333333335

## Author 
Tharani M